# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
.gradle/
gradle/*
gradlew*
build/


## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

*.iml
modules.xml
.idea/misc.xml
*.ipr

# Docs
doc/
